/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fonts */

/* Navbar */

.navbar {
    position: sticky;
    display: grid;
    place-items: center;
    top: 0;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    background-color: white;
    box-shadow:.3rem .3rem .3rem #00000044;
    z-index: 2;
}

.nav-container {
    width: 70%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.nav-container > h1 > a,
.nav-container > h1 > a:hover
.nav-container > h1 > a:active,
.nav-container > h1 > a:visited{
    color: black;
    text-decoration: none;
}

.nav-container > h1 {
    justify-self: left;
}

.login-signup {
    display: flex;
    gap: 1rem;
    flex-flow: row;
    width: auto;
    align-items: center;
    justify-self: right;
}

.login-signup > p {
    display: inline;
    margin: 0 1rem;
}

.nav-link {
    text-decoration: none;
    color: black;
    transition: .2s all;
}

.nav-link:hover {
    cursor: pointer;
    color: blue;
}

.hello {
    color: purple;
    font-weight: bold;
}

/* Cart */

.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    display: grid;
    place-items: center;
    top: -1.5rem;
    right: -1.5rem;
    height: 2rem;
    width: 2rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: .5rem;
}

/* Home Page */

.page-container {
    width: 70%;
    height: auto;
    margin: 5rem auto;
}

.page-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    position: relative;
    width: 20rem;
    height: 30rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem #00000044;
}

.pounds {
    position: absolute;
    bottom: 5rem;
    left: .5rem;
    margin: 1rem 0;
    color: rgb(61, 26, 94);
    padding: .5rem;
}

.price {
    position: absolute;
    bottom: 5rem;
    left: 1.5rem;
    margin: 1rem 0;
    color: rgb(61, 26, 94);
    padding: .5rem;
}

.stock {
    position: absolute;
    bottom: 2.5rem;
    left: .5rem;
    margin: 1rem 0;
    color: rgb(61, 26, 94);
    padding: .5rem;
}

.quantity {
    position: absolute;
    width: 3rem;
    bottom: .5rem;
    left: 5rem;
    padding: .5rem;
}

.quantity-label {
    position: absolute;
    width: 3rem;
    bottom: .5rem;
    left: .5rem;
    padding: .5rem;
}

.cart-btn {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    background-color: rgb(57, 175, 48);
    color: white;
    padding: .5rem;
    border-radius: .5rem;
}

.cart-btn:hover {
    cursor: pointer;
}

/* Basket Page */

.basket-item {
    position: relative;
    width: 100%;
    height: 15rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem #00000044;
}

.remove-all-from-basket {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    background-color: maroon;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
}

.remove-all-from-basket:hover {
    cursor: pointer;
    background-color: rgb(151, 18, 18);
}

/* Product Images */

.product-image {
    position: relative;
    top: 1rem;
    width: 70%;
    margin-top: 2rem auto;
    margin-bottom: 6rem;
    cursor: zoom-in;
}

/* Login and Signup */

.login-form, .signup-form {
    width: 50%;
    height: auto;
    padding: 5rem;
    border-radius: 2rem;
    margin: 6rem auto;
    box-shadow: .5rem .5rem .5rem #00000044;
}

.login-form > input,
.signup-form > input,
.login-form > label,
.signup-form > label {
    display: block;
    margin: 1.5rem 0;
}

.login-form > input,
.signup-form > input {
    width: 50%;
}

/* Checkout Page */

/* Checkout Bar */

.checkout-bar {
    display: block;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    border-top: 2px solid grey;
    margin-top: 3rem;
}

.checkout-button {
    height: 3rem;
    width: 6rem;
    background-color: rgb(23, 120, 23);
    color: white;
    padding: .5rem;
    display: grid;
    place-items: center;
    font-size: 1rem;
    border-radius: 1rem;
}

.checkout-button:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(79, 219, 79);
}

/* Profile page */

.profile-page-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    grid-auto-columns: 60%;
}

.basket-total {
    font-size: 2rem;
    color:rgb(151, 18, 18);
}

.delivery-address-title {
    font-weight: bold;
}

/* Address Form */

.address-form > label,
.address-form > input {
    display: block;
}